In [ ]:
#In this file we are going to analyze the course dataset using SQL . The reason I am doing it through the notebook is 
# that it stores the queries as well as the result which is not available in any of the SQL applications

# Necessary procedures to load SQL

In [3]:
%load_ext sql
%sql sqlite:///Course.sqlite3

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Viewing dataset

In [4]:
%sql SELECT * FROM Course Limit 5

   sqlite:///Course
 * sqlite:///Course.sqlite3
Done.

[('MITx', '6.002x', '09/05/2012', 'Circuits and Electronics', 'Khurram Afridi', 'Science, Technology, Engineering, and Mathematics', 1, 1, 36105, 5431, 3003, 15.04, 8.32, 54.98, '83.2', 8.17, 28.97, 418.94, 64.45, 26, 88.28, 11.72, 60.68),
 ('MITx', '6.00x', '09/26/2012', 'Introduction to Computer Science and Programming', 'Eric Grimson, John Guttag, Chris Terman', 'Computer Science', 1, 1, 62709, 8949, 5783, 14.27, 9.22, 64.05, '89.14', 14.38, 39.5, 884.04, 78.53, 28, 83.5, 16.5, 63.04),
 ('MITx', '3.091x', '10/09/2012', 'Introduction to Solid State Chemistry', 'Michael Cima', 'Science, Technology, Engineering, and Mathematics', 1, 1, 16663, 2855, 2082, 17.13, 12.49, 72.85, '87.49', 14.42, 34.89, 227.55, 61.28, 27, 70.32, 29.68, 58.76),
 ('HarvardX', 'CS50x', '10/15/2012', 'Introduction to Computer Science', 'David Malan, Nate Hardison, Rob Bowden, Tommy MacWilliam, Zamyla Chan', 'Computer Science', 1, 1, 129400, 12888, 1439, 9.96, 1.11, 11.11, '0', 0.0, 1.11, 220.9, 0.0, 28, 80.02, 19.98, 58.78),
 ('HarvardX', 'PH207x', '10/15/2012', 'Health in Numbers: Quantitative Methods in Clinical and Public Health Research', 'Earl Francis Cook, Marcello Pagano', 'Government, Health, and Social Science', 1, 1, 52521, 10729, 5058, 20.44, 9.64, 47.12, '77.45', 15.98, 32.52, 804.41, 76.1, 32, 56.78, 43.22, 88.33)]

# Analysing dataset

In [5]:
#To count number of courses from each institution

In [12]:
%sql select institution,count(institution) as Number_of_courses from course group by institution

   sqlite:///Course
 * sqlite:///Course.sqlite3
Done.

[('HarvardX', 129), ('MITx', 161)]

In [ ]:
#To find the information about the highest played course

In [19]:
%sql select max(Percentplayedvideo) as Maximum_played_video,instructors,CourseTitle from course

   sqlite:///Course
 * sqlite:///Course.sqlite3
Done.

[('89.14', 'Eric Grimson, John Guttag, Chris Terman', 'Introduction to Computer Science and Programming')]

In [ ]:
#To find number of courses of each subject

In [21]:
%sql select coursesubject,count(coursesubject) as Number_of_courses from course group by coursesubject

   sqlite:///Course
 * sqlite:///Course.sqlite3
Done.

[('Computer Science', 30),
 ('Government, Health, and Social Science', 75),
 ('Humanities, History, Design, Religion, and Education', 94),
 ('Science, Technology, Engineering, and Mathematics', 91)]

In [ ]:
#To find the instructor of course having highest female percentage

In [26]:
%sql SELECT max(PercentFemale) as Percentage_maximum_female_participation,instructors FROM Course

   sqlite:///Course
 * sqlite:///Course.sqlite3
Done.

[(74.76, 'Karen Mapp')]

In [ ]:
#To check which institution has the most qualified individuals

In [36]:
%sql select institution,round(avg(percentbachelorsdegreeorhigher),2) as Average_percentage_having_Bachelordegree_or_higher from course group by institution

   sqlite:///Course
 * sqlite:///Course.sqlite3
Done.

[('HarvardX', 76.02), ('MITx', 68.92)]

In [ ]:
#To find the longest course

In [46]:
%sql select coursetitle,max(totalcoursehours) from course

   sqlite:///Course
 * sqlite:///Course.sqlite3
Done.

[('Introduction to Computer Science and Programming', 895.01)]

In [ ]:
#To order the data by decreasing order of percentage video played

In [49]:
%sql select * from course order by percentplayedvideo desc limit 5

   sqlite:///Course
 * sqlite:///Course.sqlite3
Done.

[('MITx', '6.00x', '09/26/2012', 'Introduction to Computer Science and Programming', 'Eric Grimson, John Guttag, Chris Terman', 'Computer Science', 1, 1, 62709, 8949, 5783, 14.27, 9.22, 64.05, '89.14', 14.38, 39.5, 884.04, 78.53, 28, 83.5, 16.5, 63.04),
 ('MITx', '3.091x', '10/09/2012', 'Introduction to Solid State Chemistry', 'Michael Cima', 'Science, Technology, Engineering, and Mathematics', 1, 1, 16663, 2855, 2082, 17.13, 12.49, 72.85, '87.49', 14.42, 34.89, 227.55, 61.28, 27, 70.32, 29.68, 58.76),
 ('HarvardX', 'PH278x', '05/15/2013', 'Human Health and Global Environmental Change', 'Aaron Bernstein, Jack Spengler', 'Government, Health, and Social Science', 1, 1, 23179, 3727, 2743, 16.1, 11.85, 70.83, '85.35', 14.48, 29.01, 110.67, 21.69, 30, 51.15, 48.85, 75.19),
 ('MITx', '8.02x', '02/18/2013', 'Electricity and Magnetism', 'Walter Lewin, John Belcher, Peter Dourmashkin, Ricardo Abbate, Saif Rayyan, George Stephans, Isaac Chuang', 'Science, Technology, Engineering, and Mathematics', 1, 1, 39178, 3543, 1722, 9.04, 4.4, 48.49, '85.3', 5.86, 16.04, 380.35, 107.88, 26, 85.42, 14.58, 56.97),
 ('MITx', '7.00x', '03/05/2013', 'Introduction to Biology: Secret of Life', 'Eric Lander, Graham Walker, Brian White, Michelle, Mischke, Mary Ellen Wiltrout', 'Science, Technology, Engineering, and Mathematics', 1, 1, 28535, 6109, 3242, 21.41, 11.36, 52.92, '84.62', 33.14, 38.85, 476.84, 72.8, 30, 57.79, 42.21, 68.15)]

In [ ]:
#To find out the average male and female percentage in each institution

In [53]:
%sql select institution,round(avg(percentmale),2) as Average_male_percentage,round(avg(percentfemale),2) as Average_female_percentage from course group by institution

   sqlite:///Course
 * sqlite:///Course.sqlite3
Done.

[('HarvardX', 55.44, 44.56), ('MITx', 76.28, 23.72)]

In [ ]:
#To create a new column called 'new courses'

In [89]:
%sql alter table course add column New_Courses character
%sql select new_courses from course limit 1

   sqlite:///Course
 * sqlite:///Course.sqlite3
(sqlite3.OperationalError) duplicate column name: New_Courses
[SQL: alter table course add column New_Courses character]
(Background on this error at: http://sqlalche.me/e/13/e3q8)
   sqlite:///Course
 * sqlite:///Course.sqlite3
Done.

[(None,)]